Server/obj/Debug/netcoreapp3.1/Tuesdays.Server.assets.cache
Server/obj/Debug/netcoreapp3.1/Tuesdays.Server.assets.cache
Shared/obj/Debug/netstandard2.1/Tuesdays.Shared.csproj.AssemblyReference.cache
Shared/obj/Debug/netstandard2.1/Tuesdays.Shared.GeneratedMSBuildEditorConfig.editorconfig
Client/obj/Debug/netstandard2.1/Tuesdays.Client.assets.cache
